<h1>Employee Show Page</h1>

<h2>Employee Name: <%= @employee.name %></h2>
<h3>Employee Department: <%= @employee.department.name %></h3>
<h3>Employee Level: <%= @employee.level %></h3>

<% @sorted_employee_tickets.each do |ticket| %>
  <ul>
    <li><%= ticket.subject %></li>
  </ul>
<% end %>

<% if @employee.oldest_ticket %>
  <h4>Oldest Ticket: <%= @employee.oldest_ticket.subject %></h4>
<% end %>

<h5>Add Ticket</h5>
<%= form_with url: "/employees/#{@employee.id}", method: :post do |form| %>
  <%= form.label :ticket_id %>
  <%= form.number_field :ticket_id %>
  <br>
  <%= form.hidden_field :employee_id, value: @employee.id %>
  <br>
  <%= form.submit "Submit" %>
<% end %>

<div id="shared-tickets">
  <h6>Shared Tickets</h6>
    <% @matching_employee_tickets.each do |employee| %>
      <ul>
        <li><%= employee.name %></li>
      </ul>
    <% end %>
</div>
